<div class="login-container">
    <div class="center-image">
      <img src="../../../assets/imagenes/paisaje.jpg" alt="paisaje">
    </div>
    <div class="login-form">
      <form>
        <h2 class="app-title">photoGram</h2>

        <div class="form-group">
          <input type="text" id="boton" name="username" placeholder= "Usuario o correo electrónico" [(ngModel)]="username" required>
        </div>

        <div class="form-group">
          <input type="password" id="boton" name="password" placeholder= "Contraseña" [(ngModel)]="password" required>
        </div>
        <button type="submit">Iniciar Sesión</button>
        <div class="forgot-password">
          <p>¿Has olvidaste la contraseña?</p>
        </div>

        <div class="separator">
          <hr>
          <div class="circle">O</div>
          <hr>
        </div>

        <!-- Botones para iniciar sesión con Facebook y Google -->
      <div class="social-buttons">
        <button class="facebook-button">Ingresar con Facebook</button>
        <button class="google-button">Ingresar con Google</button>
      </div>
      </form>
    </div>
  </div>


